<!--wrapper.-->
<div class="wrapper">
    <!--header-->
    <header-component></header-component>

    <!--sidebar-->
    <sidebar-component></sidebar-component>

    <!--content-wrapper-->
    <div class="content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Release</a>
                <a class="nav-item nav-link" href="#">Test</a>   
                <a class="nav-item nav-link" href="#">On-boarding</a> 
                <a class="nav-item nav-link" routerLink="/azure-infra" routerLinkActive>Azure Infra</a>
            </div>

        </nav>

        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->

    <!--footer-->
    <footer-component></footer-component>

</div>
